{% extends "base.html" %}

{% block content %}
    <h1>Type date</h1>
    <p>Proper date format: yyyy-mm-dd</p>
    {% if error_date_message %}<p style="color:red">{{error_date_message}}</p>{%endif%}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_date.label }}<br>
            {{ form.start_date(size=32) }}
            {% for error in form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date(size=32) }}
            {% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.trends() }} {{ form.trends.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}